.profile {}
.profile__avatar {
  width: 100%;
    aspect-ratio: 1 / 1;
    outline: solid 1px pink;
  
    background-image: url('../images/ebook-example.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}