/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset {
  border: 0;
}

:root {

  /* COLORS */

  --color-black: #000000;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-greyish-brown: #505050;
  --color-greyish-brown-88: rgba(62, 62, 62, 0.88);
  --color-dusk: #403a5f;
  --color-greyish-brown-two: #575757;
  --color-dark: #202221;
  --color-warm-grey: #909090;
  --color-white: #f8edde;
  --color-dark-lilac: #8176af;
  --color-white-50: rgba(255, 255, 255, 0.5);


  /* NEW PALETTE */

  --dark-blue: #5956E0;
  --light-turquoise: #9FDFF1;
  --light-blue: #A0C7FA;
  --lilac: #D1B1F8;
  --warm-grey: #D8D6D6;
  --pale-neutral: #DCDBF2;
  --pale-lilac: #DFC8F8;


  /* FONTS */

  --font-title-brand: 300 1.4rem 'Poppins', sans-serif;
  --font-title-biggest: bold 3rem 'Montserrat', sans-serif;
  --font-title-big: bold 2rem 'Montserrat', sans-serif;
  --font-title-medium: 300 1.5rem 'Montserrat', sans-serif;
  --font-text-big: normal 1.2rem 'Montserrat', sans-serif;
  --font-normal: normal 10px 'Montserrat', sans-serif;
  --font-button: bold 1rem 'Montserrat', sans-serif;
  --font-card-text: 300 .8rem 'Poppins', sans-serif;
  --font-card-section: 300 .8rem 'Poppins', sans-serif;
  --font-card-title: 500 1.2rem 'Poppins', sans-serif;
  --font-card-subtitle: 400 1.1rem 'Poppins', sans-serif;
  --font-card-tech: 500 1rem 'Catamaran', sans-serif;
}




:root {
  font: var(--font-normal); /* font-size: 10px; */
  color: black;
}

@media screen and (min-width: 420px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 560px) {
  :root {
    font-size: 14px;
  }
}

.container {
  // padding: 22px 22px 0 22px;
  background-image: url('../images/gradient_4.png');
  background-attachment: fixed; 
  background-size: cover;
  background-repeat: no-repeat;
}


/* COMPONENTS */




