.addForm {
    margin: 0 20px 5px 20px;
    display: flex;
    flex-direction: column;
  
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(0, 0, 0, 0);
    background-color: rgba(220, 219, 242, 0.8);
    backdrop-filter: blur(70%);
    color: black;
  }
  
  .addForm .title {
    font: var(--font-title-biggest);
    margin-block: 18px;
    color: var(--dark-blue);
  }
  
  .addForm .addForm__title {
    position: relative;
    background-clip: padding-box;
    padding-block: 0.4rem;
    margin-block: 0.5rem;
    border: solid 2px transparent;
    
    font: var(--font-title-medium);
    text-align: center;
  }
  
  .addForm .addForm__title:before {
    content: '';
    position: absolute;
    top: 100%; right: 0; bottom: 0; left: 0;
    margin-bottom: -2px;
    border-radius: inherit;
    background-image: linear-gradient(to left, transparent, var(--light-blue) 50%, transparent );

  }
  
  .addForm .addForm__group {
    margin-bottom: 25px;
  }
  
  .addForm .addForm__input {
    display: block;
    width: calc( 100% - 20px );
    margin: 10px auto;
  
    padding: 8.5px 16px 8.5px 16px;
    border-radius: 40px;
    border: solid 2px var(--lilac);
  
    color: var(--warm-neutral);
    background-color: transparent;
  
    font: var(--font-normal);
    &.textarea{
      border-radius: 20px;
    }
  }

  .addForm .error-msg{
    display: block;
    width: calc( 100% - 20px );
    margin: 10px auto;
    padding: 2px 16px 8.5px 16px;
    color: var(--dark-blue);
    font: var(--font-normal);
    opacity: 0.5;
    font-style: italic;
  }
  
  .addForm .addForm__input::placeholder {
    color: var(--lilac);
  }
  
  .addForm .addForm__group--upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 25px;
  }
  
  .addForm .addForm__hidden {
    display: none;
  }

  .addForm .addForm__input-url {
    display: block;
    width: calc( 100% - 20px );
    margin: 0px auto;
    padding: 8.5px 16px 8.5px 16px;
    border-radius: 40px;
    border: solid 2px var(--lilac);
    color: var(--warm-neutral);
    background-color: transparent;
  
    font: var(--font-normal);
    &.textarea{
      border-radius: 20px;
    }
  }
  
  .addForm .addForm__2col {
    width: calc( 100%);
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }

  .addForm .addForm__2col .addForm__url {
    width: calc( (100% - .2rem) / 2 );
    padding: 0;
    margin: 0;
  }

  .addForm__input-url::placeholder{
    color: var(--lilac);
  }

  .cardURL{
    background-color: transparent;
    align-self: center;
    padding-bottom: 15px;
    text-align: center;
  }

  .linkProject{
    text-decoration: none;
    color: var(--dark-blue);
    border: solid 1px var(--dark-blue) ;
    border-radius: 20px;
    font: var(--font-text-medium);
    text-align: center;
    align-self: center;
    padding: 5px 10px;

    &:hover{
      background-color: #fff;
    }
    
  }

  .hidden{
    display: none;
  }