.get-avatar {
  display: flex;
}

.get-avatar__label {
  width: 100%;
  color: var(--dark-blue);
  font: var(--font-normal);
  text-transform: none;
  text-decoration: underline;
  text-align: left;

  cursor: pointer;
}

.get-avatar__upload-field {
  display: none;
}

.get-avatar__preview {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
  height: 50px;
  margin-left: 15px;
  width: 50px;
}
