.section_mockup{
    padding: 50px 20px 120px;
    
    // display: flex;
    // flex-wrap: wrap;
    // gap: 20px;
    // justify-content: center;
    // align-items: center;
    // align-content: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    gap: 20px;
    align-items: start;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - 225px);
}