.preview .projectImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    outline: solid 1px pink;
  
    background-image: url('../images/ebook-example.jpg');
    background-position: top center;
    background-size: cover;
  }
  
  .preview .card {
    margin-inline: 20px;
  
    transform: translateY(-45px);
  }