* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-black: #000000;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-greyish-brown: #505050;
  --color-greyish-brown-88: rgba(62, 62, 62, 0.88);
  --color-dusk: #403a5f;
  --color-greyish-brown-two: #575757;
  --color-dark: #202221;
  --color-warm-grey: #909090;
  --color-white: #f8edde;
  --color-dark-lilac: #8176af;
  --color-white-50: rgba(255, 255, 255, 0.5);
  /* NEW PALETTE */
  --dark-blue: #5956E0;
  --light-turquoise: #9FDFF1;
  --light-blue: #A0C7FA;
  --lilac: #D1B1F8;
  --warm-grey: #D8D6D6;
  --pale-neutral: #DCDBF2;
  --pale-lilac: #DFC8F8;
  /* Dark Mode */
  --darkmode-background: #121212;
  --darkmode-200: #282828;
  --darkmode-300: #3f3f3f;
  --darkmode-400: #575757;
  --darkmode-500: #717171;
  --darkmode-600: #8b8b8b;
  --primary-contrast: #5956E0;
  --darkmode-font: #ffffff;
  --grayscale-percentage: 50%;
  /* 
  add this to any imgs on the page: 

  img {
    filter: grayscale(var(--grayscale-percentage));
  } 

  */
  /* Dark Mode General Key:

  Background: body background
  200: card background, input fields
  300: buttons
  400: navbar, aside backgrounds
  500: modal + popup background
  600: background/secondary texts
  All text in white
  Main buttons, links, etc in primary colour

  */
  /* FONTS */
  --font-title-brand: 300 1.4rem "Poppins", sans-serif;
  --font-title-biggest: bold 3rem "Montserrat", sans-serif;
  --font-title-big: bold 2rem "Montserrat", sans-serif;
  --font-title-medium: 300 1.5rem "Montserrat", sans-serif;
  --font-text-big: normal 1.2rem "Montserrat", sans-serif;
  --font-normal: normal 12px "Montserrat", sans-serif;
  --font-button: bold 1rem "Montserrat", sans-serif;
  --font-card-text: 300 0.9rem "Poppins", sans-serif;
  --font-card-section: 300 .8rem "Poppins", sans-serif;
  --font-card-title: 500 1.2rem "Poppins", sans-serif;
  --font-card-subtitle: 400 1.1rem "Poppins", sans-serif;
  --font-card-tech: 500 1rem "Catamaran", sans-serif;
}

:root {
  font: var(--font-normal); /* font-size: 10px; */
  color: black;
}

@media screen and (min-width: 420px) {
  :root {
    font-size: 12px;
  }
}
@media screen and (min-width: 560px) {
  :root {
    font-size: 14px;
  }
}

.container {
  background-image: url("/gradient_4-CEwsP3CZ.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-dark {
  background-color: var(--darkmode-background);
  color: var(--darkmode-font);
}

.hero {
  margin-bottom: 1rem;
  padding: 10px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__logo {
  width: 250px;
}
.hero__text {
  font: var(--font-text-big);
  color: var(--light-blue);
  text-align: center;
  margin-inline: 4rem;
  margin-bottom: 1.8rem;
}

.hero .title {
  font: var(--font-title-big);
  color: var(--dark-blue);
  margin-bottom: 8px;
}

.preview .projectImage {
  width: 100%;
  background-image: url("/ebook-example-CgCH3O4P.jpg");
  background-position: top center;
  background-size: cover;
}
.preview .card {
  margin-inline: 20px;
}

.profile__avatar {
  width: 100%;
  aspect-ratio: 1/1;
  /* outline: solid 1px pink; */
  background-image: url("/ebook-example.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  display: grid;
  grid-template-columns: 40% 60%;
  color: var(--color-black);
  font: var(--font-card-text);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  background-color: rgba(248, 248, 248, 0.75);
  max-width: 730px;
  margin-bottom: 2rem;
  transform: translateY(-4px);
}
.card__projectTitle {
  grid-column: 2;
  position: relative;
  margin: 15px 10px 1rem 0;
  text-align: center;
  text-transform: capitalize;
  font: var(--font-card-section);
}
.card__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.card__authorPhoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url("/avatar.webp");
  background-position: center;
  background-size: cover;
  margin-bottom: 0.8rem;
}
.card__job {
  margin-bottom: 0.2rem;
  text-align: center;
  text-transform: capitalize;
}
.card__name {
  font: var(--font-card-title);
  margin-bottom: 0.2rem;
  color: var(--dark-blue);
  text-align: left;
  text-transform: capitalize;
}
.card__name--author {
  text-align: center;
  text-transform: capitalize;
}
.card__project {
  margin-right: 10px;
}
.card__slogan {
  font: var(--font-card-subtitle);
  margin-top: -0.2rem;
  margin-bottom: 0.8rem;
  color: var(--light-blue);
  text-align: left;
  text-transform: capitalize;
}
.card__description {
  font-weight: inherit;
  text-align: left;
}
.card__technicalInfo {
  display: grid;
  grid-template-columns: 1fr 2rem 2rem;
  gap: 0.5em;
  margin-block: 1.8rem;
  text-align: left;
}
.card__technologies {
  font: var(--font-card-tech);
}
.card .icon {
  width: 1.6rem;
  height: 1.6rem;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 var(--color-greyish-brown-two);
}
.card .icon__www {
  background-image: url("/globe-solid.svg");
}
.card .icon__github {
  background-image: url("/github.svg");
}

.button--link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-block: 8px;
  padding: 5px 18px;
  color: var(--dark-blue);
  font: var(--font-button);
  text-transform: uppercase;
  text-decoration: none;
  border: solid 1px var(--dark-blue);
  border-radius: 20px;
}
.button--link:hover {
  background-color: var(--dark-blue);
  color: white;
  border: solid 1px transparent;
}